<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Ubuntu" rel="stylesheet">

    <!-- <link href="./public/styles.css" rel="stylesheet"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  
  <style>       

    
  </style>
	
	</head>
	<body style="background-color:#e6f7ff;">
	<!-- <div class="container; d-flex justify-content-center;" style="background-color:#99d6ff">
		<div class="btn-toolbar" style="font-family:Ubuntu; font-weight:Regular;">
		<button type="button" class="btn btn-square btn-primary rounded-0" style="margin-right:5px; background-color:#99d6ff; border:none; color:black;" onclick="location.href='./index';">Main Page</button>
		<button type="button" class="btn btn-square btn-primary rounded-0" style="margin-right:5px; background-color:#99d6ff; border:none; color:black" onclick="location.href='./employees';">Employees</button>
		<button type="button" class="btn btn-square btn-primary rounded-0" style="margin-right:5px; background-color:#99d6ff; border:none; color:black" onclick="location.href='./departments';">Departments</button>
		<button type="button" class ="btn btn-square btn-primary rounded-0" style="margin-right:5px; background-color:#99d6ff; border:none; color:black" onclick="location.href='./positions';">Positions</button>
		<button type="button" class="btn btn-square btn-primary rounded-0" style="margin-right:5px; background-color:#99d6ff; border:none; color:black" onclick="location.href='./branches';">Branches</button>
		</div>
  </div> -->  

   <!-- Navigation -->
   <nav id="main-navigation" class="navbar navbar-dark bg-dark mb-2">      
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link text-light" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/employees">Employees</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/departments">Departments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/positions">Positions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="/branches">Branches</a>
        </li>
      </ul>
    </nav>
    <!--   end navigation -->
	

	




	