<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8"> 
  
    <title>Company Database</title>  
        
  </head>
  <body>

    <a href="./index">Index</a>
    <a href="./employees">Employees</a>
    <a href="./departments">Departments</a>
    <a href="./positions">Positions</a>
    <a href="./branches">Branches</a>

