<!-- <div class="border-bottom">
<div class="container; d-flex justify-content-left" style="background-color: #99d6ff;color:black; padding-top:10px; padding-left: 13px">
	<h4>Branches Page</h4>
</div>
</div> -->

<% include partials/header %>

<div class="modal-body;">
	<div class="col-md-4" style="width:50%; float:left">
		<h2 align="center" style="padding-top:5px; padding-bottom:-15px">Add new branch</h2>
		<fieldset>  
			<form action="" method="POST" enctype="application/x-www-form-urlencoded">

			 <div class="form-group;" style="padding-left:80px; padding-right:57px;">
				<label for="branch-city-input">City Name:</label>
				<input type="text" class="form-control" id="branch-city-input" name="branch-city" placeholder="">
       </div>
       
			 <div class="form-group;" style="padding-left:80px; padding-right:57px;">
				<label for="branch-country-input">Country Name:</label>
				<input type="text" class="form-control" id="branch-country-input" name="branch-country" placeholder="">
       </div>       
     
			 <button type="submit" class="btn btn-primary mt-3" style="position:relative; left:220px; width: 175px;">Submit</button>
			</form>
		</fieldset>
	</div>
	
	<div class="col-md-8" style="width:80%; float:right;">
	<h2 align="center" style="padding-top:5px">Branches</h2>
	<div class="table-wrapper-scroll-y" style="display:block; max-height: 650px; overflow-y: auto; -ms-overflow-style:-ms-autohiding-scrollbar;">
	<table class="table table-hover">
	<thead style="width:auto !important;">
	<tr>
	  <th>ID #</th>
	  <th>City</th>
	  <th>Country</th>
	  <!-- <th># of Employees</th> -->
	</tr>
	</thead>
	<tbody>
		<% branch.forEach((branch, index) => { %>
			<tr>
				<th scope="row"><%= branch.branch_ID %></th>
				<td><%= branch.city_name %></td>
				<td><%= branch.country %></td>
				<!-- <td><%= branch.employee_count %></td> -->
			</tr>
		<% }) %>
	</tbody>
	</table>
	</div>
</div>
</div>

<% include partials/footer %>
