<% include partials/header %>

<h1>Branches Page</h1>

<h2>Add new branch</h2>
<fieldset>  
    <form action="">
      <label for="branch-city-input">City:</label>
      <input type="text" id='branch-city-input' name="">
      <br>

      <label for="branch-country-input">Country:</label>
      <input type="text" id='ability-race-input' name="">
      <br>   
            
      <input type="submit">
    </form>  
  </fieldset>

<h2>Branches</h2>
<table>
  <colgroup span="4"></colgroup>
  <tr>
    <th>City</th>
    <th>Country</th>
    <th>Total Employees</th>    
  </tr>
  <tr>
    <td>Washington, D.C.</td>
    <td>USA</td>
    <td>309 million</td>   
    <td><button>Update</button></td>
    <td><button>Delete</button></td>  
  </tr>
  <tr>
      <td>Stockholm</td>
      <td>Sweden</td>
      <td>159</td>      
      <td><button>Update</button></td>
      <td><button>Delete</button></td>  
    </tr>
</table>



<% include partials/footer %>
