<% include partials/header %>

<h1>Departments Page</h1>

<h2>Add new department</h2>
<fieldset>  
    <form action="">
      <label for="department-name-input">Name of department:</label>
      <input type="text" id='department-name-input' name="">
      <br>     
       
      <label for="department-head-input">Department head employee id:</label>
      <input type="text" id='department-head-input' name="">
      <br>   

      <label for="branch-input">Branch id:</label>
      <input type="number" id='branch-input' name="" min="0" max="">
      <br>  
       
      <input type="submit">
    </form>  
  </fieldset>


<h2>Deparments</h2>
<table>
  <colgroup span="4"></colgroup>
  <tr>
    <th>Department Name</th>
    <th>Head of Department</th>
    <th>Branch ID</th>    
  </tr>
  <tr>
    <td>Engineering</td>
    <td>David Chen</td>
    <td>1</td>   
    <td><button>Update</button></td>
    <td><button>Delete</button></td>  
  </tr>
  <tr>
      <td>Marketing</td>
      <td>Ryan Yun</td>
      <td>2</td>      
      <td><button>Update</button></td>
      <td><button>Delete</button></td>  
    </tr>
</table>

<% include partials/footer %>
