<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <!-- <link href="./public/styles.css" rel="stylesheet"> -->
    <style>
      .card {
        width: 18rem;
      }

      .card a {
        font-size: 2rem;
      }
    </style>
    
  </head>

  <body class="bg-light">

    <div class="col-12 text-center mt-5 bg-dark text-light py-3">
      <h1>Company Database</h1>
    </div> 

    <div class="container-fluid">              
      <div class="row">
        <div class="d-flex flex-row col-8 mx-auto mt-5 text-center">   

          <div class="card">
            <div class="card-body">
              <div><i class="fas fa-users fa-5x"></i></div>
              <div><a href="/employees">Employees</a></div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div><i class="fas fa-stream fa-5x"></i></div>
              <div><a href="/departments">Departments</a></div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div><i class="fas fa-glasses fa-5x"></i></div>
              <div><a href="/certifications">Certifications</a></div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div><i class="far fa-building fa-5x"></i></div>
              <div><a href="/branches">Branches</a></div>
            </div>
          </div>

        </div>      
      </div>    
    </div>
    
  
	
  </body>
</html>
