<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <!-- <link href="./public/styles.css" rel="stylesheet"> -->
    <style>
      .btn {
        background-color: white;
        height: 18rem;
        width: 19rem;
        margin: 0 auto;
        display: table;
        margin-right: 0px;
        margin-top: 22px;
        border-color: #22A58D;
      }
      
      .btn-content {
        font-size: 20px;
        color:#333232;
        padding-top: 52px;
      }

      a:hover, a:focus {
      text-decoration: none;
      }



    </style>
    
  </head>

  <body class="bg-light">

    <div class="col-12 text-center bg-dark text-light py-3">
      <h1>Company Database</h1>
    </div> 

    <div class="container-fluid">              
      <div class="row">
        <div class="d-flex flex-row col-7 mx-auto mt-5 text-center">   
          
          <a href="/employees">
            <div class="btn btn-primary">
              <div class = "btn-content">
                <div><i class="fas fa-users fa-4x"></i></div>
                <h2>Employees</h2>
              </div>
            </div>
          </a>

          <a href="/departments">
            <div class="btn btn-primary">
                <div class = "btn-content">
                  <div><i class="fas fa-stream fa-4x"></i></div>
                  <h2>Departments</h2>
                </div>
            </div>
          </a>

          <a href="/certifications">
            <div class="btn btn-primary">
                <div class = "btn-content">
                  <div><i class="fas fa-glasses fa-4x"></i></div>
                  <h2>Certifications</h2>
                </div>
            </div>
          </a>

          <a href="/branches">
            <div class="btn btn-primary">
                <div class = "btn-content">
                  <div><i class="far fa-building fa-4x"></i></div>
                  <h2>Branches</h2>
                </div>
            </div>
          </a>

        </div>      
      </div>    
    </div>
    
  
	
  </body>
</html>
