<h1>Index</h1>

<ul>
  <li><a href="./employees">Employees</a></li>
  <li><a href="./departments">Departments</a></li>
  <li><a href="./positions">Positions</a></li>
  <li><a href="./branches">Branches</a></li>
</ul>

