<!-- <div class="border-bottom">
<div class="container; d-flex justify-content-left" style="background-color: #99d6ff;color:black; padding-top:10px; padding-left: 13px">
	<h4>Positions Page</h4>
</div>
</div> -->

<% include partials/header %>

<div class="modal-body;">
	<div class="col-md-4" style="width:50%; float:left">
		<h2 align="center" style="padding-top:5px; padding-bottom:-15px">Add new position</h2>
		<fieldset>  
			<form action="" method="POST" enctype="application/x-www-form-urlencoded">
			 <div class="form-group;" style="padding-left:80px; padding-right:57px;">
				<label for="title-input">Title:</label>
				<input type="text" class="form-control" id="title-input" name="title" placeholder="">
			 </div>
			 
			<div class="form-group;" style="padding-top:5px;padding-left:80px; padding-right:57px;">
			<label style="padding-right:15px">Managing Duties:</label>
			<label class="radio-inline"><input type="radio" name="manager-role" id="yes-manager-duties" value = "1">Yes</label>
			<label class="radio-inline"><input type="radio" name="manager-role" id="no-manager-duties" value = "0">No</label>
			</div> 
			<button type="submit" class="btn btn-primary mt-2" style="position:relative; left:220px; width: 175px;">Submit</button>
			</form>
		</fieldset>
	</div>
	
	<div class="col-md-8" style="width:80%; float:right;">
	<h2 align="center" style="padding-top:5px">Positions</h2>
	<div class="table-wrapper-scroll-y" style="display:block; max-height: 650px; overflow-y: auto; -ms-overflow-style:-ms-autohiding-scrollbar;">
	<table class="table table-hover">
	<thead style="width:auto !important;">
	<tr>
	  <th>ID #</th>
	  <th>Title</th>
	  <th>Managerial Duties</th>
	</tr>
	</thead>
	<tbody>
		<% position.forEach((position, index) => { %>
			<tr>
				<th scope="row"><%= position.position_ID %></th>
				<td><%= position.title %></td>
				<td><% if (position.managerial_duties === 1) { %>
					True                          
				  <% } else { %>
					False
				  <% } %>
				</td>
			</tr>
		<% }) %>
	</tbody>
	</table>

	</div>
</div>
</div>

<% include partials/footer %>

